.appFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:absolute;
	background-color: #011c53;
	color: white;
	left:0;
	bottom:0;
	right:0;
}

.app {
	text-align: center;
}
